body {
    margin-right: auto;
    margin-left: auto;
};

.center {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    display: block;
};

.right {
    width: 50%;
    text-align: right;
    margin: 0 auto;
    display: block;
};

h1, h3 {
    text-align: center;
};